/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 .home-slider  .flexslider .slides > li, .home-slider .flexslider{
       /*min-height: 549px;*/
      min-height: 420px;
    
 }
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
   
 
    display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.home-slider .flexslider .slides img {
    display: block;
  position: absolute;
    right: -50px;/*-120px;*/
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0;
   
  
    position: relative; 
  
    zoom: 1;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.home-slider  .flex-direction-nav .flex-next:after,.home-slider  .flex-direction-nav .flex-prev:after{
   
    font-size: 100px;
    color:#D5D7CA;
    font-family: fontawesome;
}
.home-slider .flex-direction-nav .flex-next:after{
    content: "";
}
.home-slider .flex-direction-nav .flex-prev:after{
    content: "";
}
.flex-direction-nav a{
    position: absolute;
}
.home-slider .flex-direction-nav .flex-next,.home-slider  .flex-direction-nav .flex-prev{
    top:44%;
}
.home-slider .flex-direction-nav .flex-next { right: -90px; }
.home-slider  .flex-direction-nav .flex-prev {left: -90px;}
.flexslider .flex-next:hover:after {color:#333}
.flexslider .flex-prev:hover:after {color:#333}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block;  background: rgba(255,255,255,0.9); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.flex-control-paging li a:hover { background: #F8592F; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #F8592F;  cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}

.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
