<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^home$ home.php [L]
RewriteRule ^about-us\.html$ about.php [L]
RewriteRule ^forgot-password\.html$ password.php [L]
RewriteRule ^reward\.html$ reward.php [L]
RewriteRule ^voucher\.html$ voucher.php [L]
RewriteRule ^confirm\.html$ confirm.php [L]
RewriteRule ^cara-berbelanja\.html$ cara_belanja.php [L]
RewriteRule ^ketentuan-layanan\.html$ ketentuan_layanan.php [L]
RewriteRule ^faq\.html$ faq.php [L]
RewriteRule ^contact-us\.html$ contact.php [L]
RewriteRule ^category-(.*)-(.*)-(.*)-(.*)\.html$ products.php?mod=product&act=category&sort=$1&page=$2&categoryID=$3&title=$4 [L]
RewriteRule ^subcategory-(.*)-(.*)-(.*)-(.*)\.html$ products.php?mod=product&act=subcategory&sort=$1&page=$2&subCategoryID=$3&title=$4 [L]
RewriteRule ^brand-(.*)-(.*)-(.*)-(.*)\.html$ products.php?mod=product&act=brand&sort=$1&page=$2&brandID=$3&title=$4 [L]
RewriteRule ^categorylist-(.*)-(.*)-(.*)-(.*)\.html$ products.php?mod=product&act=categorylist&sort=$1&page=$2&categoryID=$3&title=$4 [L]
RewriteRule ^subcategorylist-(.*)-(.*)-(.*)-(.*)\.html$ products.php?mod=product&act=subcategorylist&sort=$1&page=$2&subCategoryID=$3&title=$4 [L]
RewriteRule ^brandlist-(.*)-(.*)-(.*)-(.*)\.html$ products.php?mod=product&act=brandlist&sort=$1&page=$2&brandID=$3&title=$4 [L]
RewriteRule ^product-(.*)-(.*)\.html$ products.php?mod=product&act=detail&productID=$1&title=$2 [L]
RewriteRule ^sign-in\.html$ sign_in.php [L]
RewriteRule ^sign-up\.html$ sign_up.php [L]
RewriteRule ^verification\.html$ sign_up.php?mod=sign_up&act=verification [L]
RewriteRule ^success-verification\.html$ activate.php?mod=verification&act=success [L]
RewriteRule ^failed-verification\.html$ activate.php?mod=verification&act=failed [L]
RewriteRule ^myaccount\.html$ myaccount.php?mod=myaccount&act=detail [L]
RewriteRule ^edit-account\.html$ myaccount.php?mod=myaccount&act=edit [L]
RewriteRule ^edit-email\.html$ myaccount.php?mod=myaccount&act=editemail [L]
RewriteRule ^change-password\.html$ myaccount.php?mod=myaccount&act=editpassword [L]
RewriteRule ^cart\.html$ cart.php?mod=cart&act=show [L]
RewriteRule ^checkout\.html$ checkout.php?mod=checkout&act=show [L]
RewriteRule ^checkout-2\.html$ checkout.php?mod=checkout&act=shippingaddress [L]
RewriteRule ^ch-new-shipping\.html$ chaddshipping.php [L]
RewriteRule ^new-shipping\.html$ addshipping.php [L]
RewriteRule ^shipping-method\.html$ checkout.php?mod=checkout&act=shippingmethod [L]
RewriteRule ^coupon-info\.html$ checkout.php?mod=checkout&act=coupon [L]
RewriteRule ^confirm-order\.html$ checkout.php?mod=checkout&act=confirm [L]
RewriteRule ^success-order\.html$ checkout.php?mod=checkout&act=done [L]
RewriteRule ^orderhistory-(.*)\.html$ history.php?mod=history&act=show&page=$1 [L]
RewriteRule ^history-(.*)\.html$ history.php?mod=history&act=view&orderID=$1 [L]
RewriteRule ^add-testimonial-(.*)\.html$ testimonial.php?mod=testimonial&act=add&orderID=$1 [L]
RewriteRule ^testimonial-(.*)\.html$ testimonial.php?mod=testimonial&act=show&page=$1 [L]
RewriteRule ^resend-email\.html$ resend_email.php [L]

Options All -Indexes
</IfModule>